</div> <!-- end of content container in header -->
<div class="mt-auto mb-4">
  <a href="https://github.com/ashannx" class="footer">© <u>Sometimes I Make Things 2022</u></a>
</div>
</div> <!-- end of whole page container -->

<!-- bootstrap js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js" integrity="sha512-Pv/SmxhkTB6tWGQWDa6gHgJpfBdIpyUy59QkbshS1948GRmj6WgZz18PaDMOqaEyKLRAvgil7sx/WACNGE4Txw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- confirm delete list -->
<script type="text/javascript">
  $(".delete-list").submit(function(e){
    if(!confirm("Are you sure you want to delete this list? This cannot be undone.")){
      e.preventDefault();
    }
  });
</script>

<!-- font-awesome -->
<script src="https://kit.fontawesome.com/a6c869a8c1.js" crossorigin="anonymous"></script>

</body>
</html>
