

<footer class=""> <!--removed mt-auto -->
  © Sometimes I Make Things 2021
</footer>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/js/bootstrap.min.js" integrity="sha512-Pv/SmxhkTB6tWGQWDa6gHgJpfBdIpyUy59QkbshS1948GRmj6WgZz18PaDMOqaEyKLRAvgil7sx/WACNGE4Txw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- confirm delete list -->
<script type="text/javascript">
  $(".delete-list").submit(function(e){
    if(!confirm("Are you sure you want to delete this list? This cannot be undone.")){
      e.preventDefault();
    }
  });
</script>

</body>
</html>
