<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0/css/bootstrap.min.css" integrity="sha512-NZ19NrT58XPK5sXqXnnvtf9T5kLXSzGQlVZL9taZWeTBtXoN3xIfTdxbkQh6QSoJfJgpojRqMfhyqBAAEeiXcA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- custom css -->
  <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
  <div class="d-flex vh-100 flex-column">


    <div class="navbar">
      <div class="container d-flex py-1">
        <div class="">
          <a href="/" class="d-flex flex-row align-items-center logo">
            <i class="fas fa-check-circle fa-2x me-3"></i>
            <h5 class="my-0">To Do Lists</h5>
          </a>
        </div>
        <div class="ms-auto">
          <a class="logout" ref="/logout">
            <%= button %>
          </a>
        </div>
      </div>
    </div>
    <div class="d-flex align-items-center flex-column"> <!-- ends in footer -->
