:root{
  --light:#f7f1f0; /* background */
  --lightGrey:#b0b0b0; /* link hover, form borders & shadows */
  --grey:#6b6a6a; /* form placeholder text */
  --pink:#e0b6ab; /* navbar */
  --darkPink:#947770; /*breadcrumbs and links on light background*/
}

body{
  background-color:var(--light);
  text-align:center;
  color: var(--grey); /*changes color on form text */
}


h4{ /* subheading on all-lists and list pages */
  font-weight:normal;
  padding-top:20px;
}

a{
  text-decoration:none;
  color:var(--grey);
  transition:0.3s;
}

a:hover{
  text-decoration:none;
  color:var(--lightGrey);
  cursor:pointer;
}

/* container */
.cont{
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

.breadcrumbs, .breadcrumbs a{
  font-size:0.95rem;
  color:var(--darkPink);
}

.breadcrumbs i{
  color:var(--pink);
}

.breadcrumbs a:hover{
  color:var(--lightGrey)
}

/*navbar*/
.navbar{
  background-color:var(--pink);
}

.logo, .logout{
  color:var(--light);
}

.logout{
  font-size:1.15rem;
  font-weight:500;
  padding-top:5px;
}

.logout:hover{
  color:var(--grey)
}

.logo:hover{
  color:var(--light);
}

/* forms */
.form-control{
  border-color:var(--lightGrey);
}

.form-control:focus{
  box-shadow: 0 0 5px var(--lightGrey) !important;
  border-color:var(--lightGrey);
}

.form-control::placeholder{
  opacity:0.7;
}

.top{
  border-radius: 0.25rem 0.25rem 0 0 !important;
}

.middle{
  border-radius: none !important;
}

.bottom{
  border-radius: 0 0 0.25rem 0.25rem !important;
}

/* all lists  & lists pages*/
.add-input{
  border-radius:0.25rem 0 0 0.25rem;
  font-size:1.25rem
}

.add-button {
  border-color:var(--lightGrey);
  border-left:0;
  background:white;
  width:55px;
  border-radius:0 0.25rem 0.25rem 0;
  color:var(--grey)
}

.add-button:focus, .add-button:active{
  box-shadow:none;
}

/* all lists page */
.list-group-item{
  font-size:1.25rem;
  border-color:var(--lightGrey);
}

/* list page */
.delete-list{
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size:0.95rem;
  color:var(--darkPink);
  transition:0.3s;
}

.delete-list:hover{
  color:var(--lightGrey);
}

input[type="checkbox"] {
  margin:3px 20px 0 0;
  width:1rem;
  height:1rem;

}

.items-list{
  background:white;
  border-radius:0.25rem;
  border:1px solid var(--lightGrey);
  padding:1rem 1.8rem;
  font-size:1.25rem;
}
